body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;
  color: #f5f5f5;
  background: #222325;
}

h2 {
  margin: 0 0 .5rem;
  padding: 0;
  font-size: 0.75rem;
  letter-spacing: 0.7px;
  color: #555;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
  text-transform: uppercase;
  font-weight: normal;
}

a {
  color: #4d6670;
  text-decoration: none;
}

a:hover {
  color: #1d4650;
}

main {
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: 100vh;
}

.scorebar {
  flex: 0 0 250px;
  background: #141416;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #252626;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
  z-index: 50;
  cursor: default;
  max-height: 100vh;
}

.sidebar {
  flex: 0 560px;
  background: #141416;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #252626;
  box-shadow: -2px 0px 8px rgba(0, 0, 0, .4);
  max-height: 100vh;
  overflow: hidden;
}

.sidebar h2,
.scorebar h2 {
  padding: 0.75rem 0.75rem 0.5rem;
  margin: 0;
}


.chat {
  flex: 1 1 auto;
  overflow-x: hidden;
  /* overflow-y: auto;
  padding: 0 0 0.75rem 0.75rem;*/
}

.chat__line {
  padding: 0.25rem 0.5rem;
  background: #1a1b1c;
  color: #b0b0b0;
}

.chat__line--system {
  color: #808081;
  font-size: .8rem;
}

.chat__line:nth-of-type(odd) {
  background: #1d1e1f;
}

.chat__username {
  display: inline-block;
  font-weight: 600;
  margin-right: 0.5rem;
}

.message {
  border-top: 1px solid #2a2a2b;
  flex: 0 0 12.5%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #141416 0, #1b1b1d 100%);
  z-index: 100;
}

textarea,
input[type="text"],
select {
  padding: 0.35rem 0.5rem;
  background: #020306;
  border-radius: 2px;
  resize: none;
  flex: 1 1 100%;
  border: none;
  color: #d0d0d0;
  font-family: "Segoe UI";
  font-size: 0.9rem;
  box-shadow: 0 0 2px 1px inset rgba(0, 0, 0, 1);
}

.message__actions {
  flex: 0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.submit {
  background: linear-gradient(to bottom, #1d4150 0, #1d4650 40%, #1d5045 100%);
  color: #fff;
  border-radius: 2px;
  padding: 0.7rem 0.75rem;
  border: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, .6), 0 0 8px rgba(0, 0, 0, .4);
  margin-left: 0.25rem;
  align-self: center;
  transition: .1s linear all;
}

.submit:hover {
  background-size: 300% 300%;
}


/****** Emoticons ******/
.sidebar__emoticons {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 0.25rem;
}

.emoticon {
  height: 32px;
  width: 32px;
  background: transparent;
  background-size: 100% 100%;
  background-repeat: none;
  background-position: center center;
  flex: 0 0 auto;
  margin: 3px;
  cursor: pointer;
}

span.emoticon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.emoticon--cool {
  background-image: url('../static/images/emoticons/cool.png');
}

.emoticon--crazy {
  background-image: url('../static/images/emoticons/crazy.png');
}

.emoticon--damn {
  background-image: url('../static/images/emoticons/damn.png');
}

.emoticon--geek {
  background-image: url('../static/images/emoticons/geek.png');
}

.emoticon--grin {
  background-image: url('../static/images/emoticons/grin.png');
}

.emoticon--huh {
  background-image: url('../static/images/emoticons/huh.png');
}

.emoticon--lol {
  background-image: url('../static/images/emoticons/lol.png');
}

.emoticon--love {
  background-image: url('../static/images/emoticons/love.png');
}

.emoticon--omg {
  background-image: url('../static/images/emoticons/omg.png');
}

.emoticon--pout {
  background-image: url('../static/images/emoticons/pout.png');
}

.emoticon--sad {
  background-image: url('../static/images/emoticons/sad.png');
}

.emoticon--smile {
  background-image: url('../static/images/emoticons/smile.png');
}

.emoticon--stars {
  background-image: url('../static/images/emoticons/stars.png');
}

.emoticon--ugh {
  background-image: url('../static/images/emoticons/ugh.png');
}

.emoticon--waiting {
  background-image: url('../static/images/emoticons/waiting.png');
}

.emoticon--whoopsy {
  background-image: url('../static/images/emoticons/whoopsy.png');
}

.emoticon--wink {
  background-image: url('../static/images/emoticons/wink.png');
}

.emoticon--wtf {
  background-image: url('../static/images/emoticons/wtf.png');
}



.message__actions button {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  border: 0;
  cursor: pointer;
  mask-size: 2.0rem 2.0rem;
  background: #666;
  transition: .15s linear background;
}

.sidebar__polloptions {
  border-top: 1px solid #2a2a2b;
  padding: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: linear-gradient(to top, transparent 0, rgba(255, 255, 255, .03));

  animation: module-display 200ms ease-out forwards;
  z-index: 10;
}

.poll__info {
  color: #777;
  font-size: 0.75rem;
  padding: 0 0 0.5rem;
}

.poll__command {
  color: #999;
  font-family: Monospace;
  font-size: 0.75rem;
  background: rgba(0, 0, 0, .5);
  padding: 0.125rem 0.25rem;
  margin: 0.125rem .25rem 0.125rem 0;
  border-radius: 4px;
}

.poll__command .red {
  color: #ce5555;
}

.poll__command .blue {
  color: #5588ce;
}

.sidebar__settings {
  border-top: 1px solid #2a2a2b;
  padding: 0.75rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to top, transparent 0, rgba(255, 255, 255, .03));
  justify-content: flex-end;
}

@keyframes module-display {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0%);
  }
}

.module-flex {
  animation: module-display 200ms ease-out both;
  z-index: 10;
}

.module-none {
  display: none;
}



.sidebar__settings input,
.sidebar__settings select {
  margin: 0 .25rem 0.5rem;
  flex: 1 1 auto;
}

.sidebar__settings input[type="submit"] {
  padding: 0.6rem 0.5rem;
  flex: 0 0 auto;
  align-content: flex-end;
}

.sidebar__settings h2,
.sidebar__polloptions h2 {
  flex: 1 1 100%;
}

.message__actions button:hover {
  background: #bcbca0;
}

.message__actions .settings {
  mask: url('../static/images/icons/settings.png') center center/2.0rem 2.0rem no-repeat;
}

.message__actions .new {
  mask: url('../static/images/icons/new.png') center center/2.0rem 2.0rem no-repeat;
}

.message__actions .poll {
  mask: url('../static/images/icons/poll.png') center center/2.0rem 2.0rem no-repeat;
}

.message__actions .emoticons {
  mask: url('../static/images/icons/emoticons.png') center center/2.0rem 2.0rem no-repeat;
}

.flex-spacer {
  flex: 1 1 auto;
}

.main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  background: #1e1e20;
  /* background: url('../static/images/backgrounds/rock.jpg') no-repeat fixed;
  background-size: cover; */
}


.controls {
  /* background: rgba(0, 0, 0, .3);
  border-bottom: 1px solid #111;
   */
  color: #777;
  border-bottom: 1px solid #333;
  padding: .5rem 0.5rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.controls__robots {
  display: flex;
}

.controls__directions {
  display: flex;
}

.controls__robot {
  height: 3.0rem;
  width: 3.0rem;
  margin: 0.25rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  cursor: pointer;
  border-radius: 4px;
  transition: .1s linear all;
}

.controls__button {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.25rem 0;
  background-color: #656565;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 90%;
  cursor: pointer;
  border-radius: 4px;
  transition: .1s linear all;
}

.controls__button:hover,
.controls__button.active {
  background-color: #aaa;
}

.controls__button.inactive {
  background-color: #262626;
  cursor: not-allowed;
}

.controls__robot.active {
  background-color: #3b3b34
}

.controls__red {
  background-image: url('../static/images/game/red-robot.png');
}

.controls__green {
  background-image: url('../static/images/game/green-robot.png');
}

.controls__blue {
  background-image: url('../static/images/game/blue-robot.png');
}

.controls__yellow {
  background-image: url('../static/images/game/yellow-robot.png');
}

.controls__silver {
  background-image: url('../static/images/game/silver-robot.png');
}

.controls__up {
  mask-image: url('../static/images/icons/up.png');
}

.controls__down {
  mask-image: url('../static/images/icons/down.png');
}

.controls__left {
  mask-image: url('../static/images/icons/left.png')
}

.controls__right {
  mask-image: url('../static/images/icons/right.png');
}

.controls__undo {
  mask-image: url('../static/images/icons/undo.png');
}

.controls__cancel {
  mask-image: url('../static/images/icons/cancel.png');
}


.debug {
  /* background: rgba(0, 0, 0, .3); */
  color: #777;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
  padding: .5rem 1.0rem;
  font-family: Monospace;
  font-size: 0.7rem;
}

.debug:before {
  content: '> ';
}

.game {
  border: 6px solid #212121;
  flex: 0 0 auto;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 inset rgba(0, 0, 0, .8), 0 0 15px 5px rgba(0, 0, 0, .3), 0 0 5px rgba(0, 0, 0, .7);

  height: 0;
  padding-bottom: 90vh;
  width: 90vh;
  box-sizing: content-box;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.square {
  min-height: 6.25%;
  max-height: 6.25%;
  padding-bottom: 6.25%;
  width: 6.25%;
  border: 0px solid #1d2323;
  box-shadow: 0 0 1px 1px inset rgba(0, 0, 0, .15);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.square:after {
  padding-bottom: 100%;
  display: block;
  content: '';
}

.square--0 {
  background-image: url('../static/images/game/s-0.png');
}

.square--1,
.square--17,
.square--93,
.square--129,
.square--145 {
  background-image: url('../static/images/game/s-1.png');
}

.square--2,
.square--18,
.square--34,
.square--50 {
  background-image: url('../static/images/game/s-2.png');
}

.square--3,
.square--19,
.square--51,
.square--147,
.square--179 {
  background-image: url('../static/images/game/s-3.png');
}

.square--4,
.square--36,
.square--68,
.square--100 {
  background-image: url('../static/images/game/s-4.png');
}

.square--5,
.square--117,
.square--133,
.square--149,
.square--165,
.square--181,
.square--149,
.square--197,
.square--213,
.square--229,
.square--245 {
  background-image: url('../static/images/game/s-5.png');
}

.square--6,
.square--38,
.square--54,
.square--102,
.square--118 {
  background-image: url('../static/images/game/s-6.png');
}

.square--8,
.square--72,
.square--136,
.square--200 {
  background-image: url('../static/images/game/s-8.png');
}

.square--9,
.square--137,
.square--153,
.square--201,
.square--217 {
  background-image: url('../static/images/game/s-9.png');
}

.square--10,
.square--122,
.square--126,
.square--186,
.square--218,
.square--234,
.square--238 {
  background-image: url('../static/images/game/s-10.png');
}

.square--12,
.square--76,
.square--108,
.square--204,
.square--236 {
  background-image: url('../static/images/game/s-12.png');
}

.square--16 {
  background-image: url('../static/images/game/s-16.png');
}

.square--20,
.square--52,
.square--84,
.square--116 {
  background-image: url('../static/images/game/s-20.png');
}

.square--24,
.square--88,
.square--152,
.square--216,
.square--220 {
  background-image: url('../static/images/game/s-24.png');
}

.square--28 {
  background-image: url('../static/images/game/s-28.png');
}

.square--32 {
  background-image: url('../static/images/game/s-32.png');
}

.square--33,
.square--49,
.square--161,
.square--177,
.square--185 {
  background-image: url('../static/images/game/s-33.png');
}

.square--40,
.square--104,
.square--168,
.square--232 {
  background-image: url('../static/images/game/s-40.png');
}

.square--41 {
  background-image: url('../static/images/game/s-41.png');
}

.square--48 {
  background-image: url('../static/images/game/s-48.png');
}

.square--64 {
  background-image: url('../static/images/game/s-64.png');
}

.square--65,
.square--81,
.square--193,
.square--209 {
  background-image: url('../static/images/game/s-65.png');
}

.square--66,
.square--82,
.square--98,
.square--114 {
  background-image: url('../static/images/game/s-66.png');
}

.square--67 {
  background-image: url('../static/images/game/s-67.png');
}

.square--80 {
  background-image: url('../static/images/game/s-80.png');
}

.square--83 {
  background-image: url('../static/images/game/s-83.png');
}

.square--92,
.square--252 {
  background-image: url('../static/images/game/s-92.png');
}

.square--96 {
  background-image: url('../static/images/game/s-96.png');
}

.square--128 {
  background-image: url('../static/images/game/s-128.png');
}

.square--130,
.square--146,
.square--162,
.square--178 {
  background-image: url('../static/images/game/s-130.png');
}

.square--132,
.square--164,
.square--196,
.square--228 {
  background-image: url('../static/images/game/s-132.png');
}

.square--134,
.square--166,
.square--246 {
  background-image: url('../static/images/game/s-134.png');
}

.square--144 {
  background-image: url('../static/images/game/s-144.png');
}

.square--160 {
  background-image: url('../static/images/game/s-160.png');
}

.square--169,
.square--249 {
  background-image: url('../static/images/game/s-169.png');
}

.square--172 {
  background-image: url('../static/images/game/s-172.png');
}

.square--243 {
  background-image: url('../static/images/game/s-243.png');
}

.square--256,
.square--257,
.square--258,
.square--259 {
  background: #7a776d;
}

.robot {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.robot:hover {
  animation-name: rock;
  animation-duration: 500ms;
  /* or: Xms */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: forwards;
  /* or: backwards, both, none */
  animation-delay: 0s;
  /* or: Xms */
}

@keyframes rock {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-4deg);
  }

  75% {
    transform: rotate(4deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.robot--red {
  background-image: url('../static/images/game/red-robot.png');
  animation: fadein .3s;
}

.robot--blue {
  background-image: url('../static/images/game/blue-robot.png');
  animation: fadein .3s;
}

.robot--green {
  background-image: url('../static/images/game/green-robot.png');
  animation: fadein .3s;
}

.robot--yellow {
  background-image: url('../static/images/game/yellow-robot.png');
  animation: fadein .3s;
}

.robot--silver {
  background-image: url('../static/images/game/silver-robot.png');
  animation: fadein .3s;
}


/****** Scorebar ******/

#scores__inner {
  display: block;
  height: 100%;
  width: 100%;
}

.scores {
  flex: 1 1 auto;
}

.score {
  padding: 0.25rem 0.85rem 0.25rem 0.85rem;
  color: #b0b0b0;
  display: flex;
}

.score__username {
  flex: 1 1 auto;
  font-weight: 600;
  margin-right: 0.5rem;
}

.muted,
.owner,
.self {
  height: 1.0rem;
  width: 1.0rem;
  display: inline-block;
  margin-left: .25rem;
  vertical-align: middle;
  mask-size: 100% 100%;
  mask-position: center center;
  mask-repeat: no-repeat;
  background-color: #666;
  margin-top: -3px;
}

.muted {
  mask-image: url('../static/images/icons/mute.png');
}

.owner {
  mask-image: url('../static/images/icons/owner.png');
}

.self {
  background: radial-gradient(#fadb3e, #8c7d1a);
  mask-image: url('../static/images/icons/star.png');
}

.sidebar__goal {
  padding: 0.75rem;
  display: flex;
  justify-content: center;
}

.timer {
  flex: 0 0 auto;
  padding: 0.75rem 0.25rem 0.25rem;
  display: flex;
  flex-wrap: wrap;
  font-family: Monospace;
  font-size: 1.25rem;
  background: linear-gradient(to top, #141416 0, rgba(255, 255, 255, .03) 100%);
  background: linear-gradient(to top, #13090e 0, #25121c 25%, #141416 37.5%, rgba(255, 255, 255, .03) 62.5%, rgba(255, 255, 255, .03) 75%, #292403 75%, #231e02 82.5%, #1c1801 100%);
  background-size: 100% 400%;
  background-position: center center;
  color: #858585;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  font-weight: 200;
  border-top: 1px solid #060606;
  transition: 1s ease-in-out background-position;
}

.countdown {
  height: 0.25rem;
  margin-top: 0.5rem;
  flex: 0 0 100%;
  background: #4aae90;
  animation: roundtime calc(var(--duration) * 1s) forwards;
  transform-origin: left center;
  border-radius: 2px;
}

@keyframes roundtime {
  to {
    /* More performant than animating `width` */
    transform: scaleX(0);
    background: rgb(204, 116, 116);
  }
}


.timer.winner {
  background-position: top;
}

.timer__countdown,
.timer__current-timer,
.counter__moves,
.counter__robots {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.timer__countdown.inactive,
.timer__current-timer.inactive {
  color: #323232;
}


.icon {
  flex: 0 0 auto;
  height: 1.50rem;
  width: 1.50rem;
  margin: 0 0.25rem;
  background: currentColor;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.icon--timer {
  mask-image: url('../static/images/icons/timer.png');
}

.icon--clock {
  mask-image: url('../static/images/icons/clock.png');
}

.icon--count {
  mask-image: url('../static/images/icons/count.png');
}

.icon--robot {
  mask-image: url('../static/images/icons/robot.png');
}

.goal {
  height: 4.0rem;
  width: 4.0rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.square .goal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}



.red-moon {
  background-image: url('../static/images/game/red-moon.png');
}

.green-moon {
  background-image: url('../static/images/game/green-moon.png');
}

.yellow-moon {
  background-image: url('../static/images/game/yellow-moon.png');
}

.blue-moon {
  background-image: url('../static/images/game/blue-moon.png');
}

.red-gear {
  background-image: url('../static/images/game/red-gear.png');
}

.green-gear {
  background-image: url('../static/images/game/green-gear.png');
}

.yellow-gear {
  background-image: url('../static/images/game/yellow-gear.png');
}

.blue-gear {
  background-image: url('../static/images/game/blue-gear.png');
}

.red-planet {
  background-image: url('../static/images/game/red-planet.png');
}

.green-planet {
  background-image: url('../static/images/game/green-planet.png');
}

.yellow-planet {
  background-image: url('../static/images/game/yellow-planet.png');
}

.blue-planet {
  background-image: url('../static/images/game/blue-planet.png');
}

.red-cross {
  background-image: url('../static/images/game/red-cross.png');
}

.green-cross {
  background-image: url('../static/images/game/green-cross.png');
}

.yellow-cross {
  background-image: url('../static/images/game/yellow-cross.png');
}

.blue-cross {
  background-image: url('../static/images/game/blue-cross.png');
}





.settings__flexbox {
  display: flex;
  flex-wrap: wrap;
}

.setting__input {
  flex: 1 1 50%;
  display: flex;
}

.setting__checkbox {
  white-space: nowrap;
  flex: 1 1 50%;
  color: #78787a;
}

.setting__submit {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
}

.checkbox {
  display: inline-block;
  width: 24px;
  position: relative;
  margin: 8px 8px 8px 4px;
}

.checkbox label {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #000 0%, #121213 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, .2);
}

.checkbox label:after {
  content: '';
  width: 11px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #cdcdce;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.checkbox label:hover::after {
  opacity: 0.3;
}

.checkbox input[type=checkbox] {
  visibility: hidden;
}

.checkbox input[type=checkbox]:checked+label:after {
  opacity: 1;
}


/* START TOOLTIP STYLES */
[tooltip] {
  position: relative;
  /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: .9em;
  /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  /* opinion 4 */
  z-index: 1001;
  /* absurdity 1 */
}

[tooltip]::after {
  content: attr(tooltip);
  /* magic! */

  /* most of the rest of this is opinion */
  text-align: center;

  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 2.5em;
  max-width: 30em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .5rem;
  border-radius: .2rem;
  box-shadow: 0 0em 8px 4px rgba(0, 0, 0, 0.5), 0 0em 1px 1px rgba(255, 255, 255, 0.2);
  background: #2c2d2f;
  color: #a6a6a6;
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
  z-index: 1000;
  /* absurdity 2 */
  font-weight: 200;
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #2c2d2f;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #2c2d2f;
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #2c2d2f;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #2c2d2f;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 200ms ease-out forwards;
  animation-delay: .5s;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 200ms ease-out forwards;
  animation-delay: .5s;
}